   <!-- Footer -->
   <footer class="footer" id="footer">
    <div class="container">


        <!-- Map -->
        <section class="section  section--map">
            <div class="container">
                <div class="map">
                    <h2 class="map__title">
                        <div><i class="fas fa-map-marker-alt"></i></div>
                        <p>Карта проезда</p>
                    </h2>
                    <iframe class="map__widget"
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae4be2787777928bce6c9d2f494e1ae713f59a729df83b396188e25b1636cc768&amp;source=constructor"
                        width="1029" height="548" frameborder="0"></iframe>

                </div>
            </div>
        </section>



        <div class="footer__inner">
            <div class="footer__block">
                <h4 class="footer__title">Адрес</h4>
                <div class="footer__text">м. Братиславская</div>
                <div class="footer__text">Мячковский бульвар, д.3, к.2</div>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">Контакты</h4>
                <h2 class="footer__title">Look At Me</h2>
            </div>


            <div class="footer__block">
                <h4 class="footer__title">Телефон</h4>
                <div class="footer__text">
                    <p>+7(495)88-83-39</p>
                </div>
            </div>

        </div><!-- /.footer__inner -->

    </div><!-- /.container -->

</footer>