

        <!-- Regist -->
        <section class="section" id="regist">
            <div class="container">
                <div class="full-page">
                    <div class="section__header">
                        <h2 class="section__title">Запись</h2>
                    </div>

                    <div class="form">

                        <div class="input-form">
                            <input type="text" placeholder="Имя">
                        </div>

                        <div class="input-form">
                            <input type="submit" value="Записаться">
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!--Regist -->

