 <!-- About -->
 <section class="section" id="about">
    <div class="container">

        <div class="section__header">
            <h2 class="section__title">Наши преимущества</h2>
            <div class="section__text">
                <p><b class="section__text__logo">LOOK AT ME</b> – это имидж-лаборатория красоты нового
                    поколения, в котором создана доброжелательная и уютная атмосфера и есть все необходимое для
                    вашей красоты и здоровья!
                    Вот уже 10 лет наши квалифицированные мастера готовы выполнить любые идеи преображения.</p>
            </div>
        </div>

        <div class="about">
            <div class="about__item">
                <div class="about__inner">
                    <div class="about__img">
                        <img src="maria/src/assets/images/about/1.jpg" alt="approach">
                    </div>
                    <div class="about__text">Индивидуальный<br>подход</div>
                </div>
            </div>

            <div class="about__item">
                <div class="about__inner">
                    <div class="about__img">
                        <img src="maria/src/assets/images/about/2.jpg" alt="cosmetics">
                    </div>
                    <div class="about__text">Профессиональная<br>косметика</div>
                </div>
            </div>

            <div class="about__item">
                <div class="about__inner">
                    <div class="about__img">
                        <img src="maria/src/assets/images/about/3.jpg" alt="specialist">
                    </div>
                    <div class="about__text">Лучшие<br>специалисты</div>
                </div>
            </div>
        </div>

        <div class="services">
            <div class="services__item">
                <div class="services__text">Вам порекомендуют процедуру или услуги, которые подходят именно вам
                </div>
            </div>
            <div class="services__item">

                <div class="services__text">В работе мы используем косметику исключительно класса "люкс"</div>
            </div>
            <div class="services__item">

                <div class="services__text">В наших салонах красота и здоровье вашего тела и лица в безопасности
                </div>
            </div>
        </div>


    </div><!-- /.container -->
</section>