 <!-- Intro -->
 <div class="intro" id="intro">
    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__title">Look At Me</h2>
            <h1 class="intro__suptitle">Beauty Lab</h1>

            <a class="btn" href="#" data-scroll="regist">Записаться</a>
        </div>

        <div class="intro__information">
            <img class="intro__icon" src="maria/src/assets/images/number.png" alt="number">
            <div class="intro__text">+7(495)88-83-39</div>
        </div>
        <div class="intro__information">
            <img class="intro__icon" src="maria/src/assets/images/metro.png" alt="metro">
            <div class="intro__text">Братиславская </div>
        </div>
        <div class="intro__information">
            <img class="intro__icon" src="maria/src/assets/images/adress.png" alt="adress">
            <div class="intro__text"> Мячковский бульвар, д.3, к.2</div>
        </div>


    </div>

</div><!-- /.intro -->
