
        <!-- Team -->
        <div class="team" id="masters">
            <div class="container">
                <div class="section__header">
                    <h2 class="section__title">Наши мастера</h2>
                </div>
                <div class="team__inner">


                    <div class="team__item">
                        <img class="team__photo" src="maria/src/assets/images/masters/1.jpg" alt="">
                        <div class="team__name">косметолог</div>
                        <div class="team__prof">Бондарева Ксения</div>
                        <div class="team__text">
                            <p>Владеет инъекционными методиками: мезотерапия, биоревитализация, выполняет различные виды
                                пилингов, уходовые процедуры, лазерная эпиляция и лазерное омоложение.
                                Регулярно посещает тематические семинары, конференции и обзорные выставки.</p>

                        </div>
                    </div>


                    <div class="team__item">
                        <img class="team__photo" src="maria/src/assets/images/masters/2.jpeg" alt="">
                        <div class="team__name">мастер маникюра и педикюра</div>
                        <div class="team__prof">Ковальчук Елена</div>
                        <div class="team__text">
                            <p>Проходила обучение в «Санкт-Петербургской школе красоты». Опыт работы более 2х лет.
                                Валерия профессионально владеет техниками аппаратного и комбинированного маникюра,
                                ювелирной инкрустацией и навыками художественной росписи. Регулярно посещает
                                профессиональные семинары и выставки, такие как «Невские берега», «Интершарм». Валерия
                                всегда в курсе всех новинок и самых актуальных тенденций в сфере ногтевого сервиса.</p>

                        </div>
                    </div>


                    <div class="team__item">
                        <img class="team__photo" src="maria/src/assets/images/masters/3.jpeg" alt="">
                        <div class="team__name">парикмахер</div>
                        <div class="team__prof">Павлова Марина</div>
                        <div class="team__text">
                            <p>Стаж работы с 2009г. Закончила Профессиональный Лицей Технологий и Дизайна.
                                Закончила техникум Ольги Никифоровой по Укладкам и экспресс Прическам.
                                Ежемесячно проходит курсы по повышению квалификации профессиональной деятельности.
                                Прошла обучение всех ступеней по окрашиванию</p>
                            <p>Стаж в профессии - 13 лет. Непревзойденный эксперт в области колористики и уходами за
                                волосами.</p>

                        </div>
                    </div>

                    <div class="team__item">
                        <img class="team__photo" src="maria/src/assets/images/masters/4.jpeg" alt="">
                        <div class="team__name">мастер по бровям и ресницам</div>
                        <div class="team__prof">Горячева Кристина</div>
                        <div class="team__text">
                            <p>Стаж более 10 лет. Наталья с легкостью подчеркнет Вашу индивидуальность и создаст
                                неповторимый образ.</p>
                            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget
                                urna mollis ornare vel eu leo.</p>
                        </div>
                    </div>
                    <hr>
                </div><!-- /.team__inner -->
            </div><!-- /.container -->
        </div><!-- /.team -->

