<!-- Clients -->
<section class="section  section--clients" id="services">
    <div class="container">

        <div class="section__header">

            <h2 class="section__title">Услуги</h2>
        </div>

        <div class="clients">
            <div class="clients__item">
                <img class="clients__photo" src="maria/src/assets/images/services/hair2.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Парикмахерский зал и окрашивание</div>
                    <div class="clients__text">При знакомстве больше всего внимания обращают на волосы.
                        Натуральные, длинные и нежные локоны притягивают и являются предметом восхищения. Наши
                        клиенты своим стилем всегда отражают внутреннюю красоту и любовь к себе. У нас вы можете
                        сделать: окрашивание, укладку, стрижку и самые эффектные прически.</div>

                    <h4 class="clients__name">Подробнее:</h4>
                    <table class="clients__text__more">
                        <tr>
                            <td>Цена</td>
                            <td>от 500руб.</td>
                        </tr>
                        <tr>
                            <td>Время</td>
                            <td>30-90 мин.</td>
                        </tr>
                    </table>
                    <a class="btn2" href="#" data-scroll="regist">Записаться</a>
                </div>
            </div>


            <div class="clients__item">
                <img class="clients__photo" src="maria/src/assets/images/services/brows2.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Brow Bar & Визаж</div>
                    <div class="clients__text">Глаза - это зеркало души. Глубина вашего взгляда, в паре с
                        длинными густыми ресницами и оформленными бровями, делают образ загадочным и ведут к
                        самому сердцу. Клиенты Look at me могут: подобрать идеальную форму бровей, их правильное
                        цветовое оформление, добавить необходимой выразительности взгляду, за счет- наращивания
                        ресниц.</div>

                    <h4 class="clients__name">Подробнее:</h4>
                    <table class="clients__text__more">
                        <tr>
                            <td>Цена</td>
                            <td>от 1100руб.</td>
                        </tr>
                        <tr>
                            <td>Время</td>
                            <td>30-60 мин.</td>
                        </tr>
                    </table>
                    <a class="btn2" href="#" data-scroll="regist">Записаться</a>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="maria/src/assets/images/services/manicure2.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Маникюр & Педикюр</div>
                    <div class="clients__text">Руки и ножки - продолжение вашего образа и его лаконичное
                        завершение. Аккуратный маникюр в пастельных или дерзких тонах, с глянцевым или
                        матово-бархатистым лаком - заслуживают отдельного внимания в вашем стиле. Наши клиенты,
                        вне зависимости от образа жизни, работы и даже пола - всегда придают важность внешнему
                        виду своих пальчиков.</div>


                    <h4 class="clients__name">Подробнее:</h4>
                    <table class="clients__text__more">
                        <tr>
                            <td>Цена</td>
                            <td>от 200руб.</td>
                        </tr>
                        <tr>
                            <td>Время</td>
                            <td>30-60 мин.</td>
                        </tr>
                    </table>
                    <a class="btn2" href="#" data-scroll="regist">Записаться</a>
                </div>
            </div>


            <div class="clients__item">
                <img class="clients__photo" src="maria/src/assets/images/services/maska2.jpg" alt="">
                <div class="clients__content">
                    <div class="clients__name">Косметология</div>
                    <div class="clients__text">Ваше лицо и тело - отражение отношения к самому себе. Мы
                        используем качественные средства с высоким содержанием питательных элементов, что бы
                        ваша кожа оставалась невероятно нежной и свежей. Для любящих себя клиентов мы
                        предоставляем весь спектр услуг, таких как spa-уходы, пилинг, тоники и маски, а также
                        комплексные услуги по восстановлению вашей кожи.</div>

                    <h4 class="clients__name">Подробнее:</h4>
                    <table class="clients__text__more">
                        <tr>
                            <td>Цена</td>
                            <td>от 1000руб.</td>
                        </tr>
                        <tr>
                            <td>Время</td>
                            <td>30-90 мин.</td>
                        </tr>
                    </table>
                    <a class="btn2" href="#" data-scroll="regist">Записаться</a>
                </div>
            </div>
        </div><!-- /.clients -->

    </div><!-- /.container -->
</section>
