        <!-- Reviews 2 -->
        <div class="section" id="reviews">
            <div class="container">

                <div class="section__header">
                    <h2 class="section__title">Отзывы наших посетителей</h2>
                </div>

                <div class="reviews">

                    <div data-slider>
                        <div>
                            <div class="reviews__item">
                                <img class="reviews__photo" src="maria/src/assets/images/clients/1.png" alt="">
                                <div class="reviews__text">"Всё на высшем уровне! Мастера профессионалы своего дела,
                                    внимательные, отзывчивые и очень креативные! Очень уютная просторная студия,
                                    приходишь и как у себя дома! Удобное расположение и часы работы. Всем рекомендую."
                                </div>
                                <div class="reviews__author">Катрина Г.</div>
                            </div>
                        </div>

                        <div>
                            <div class="reviews__item">
                                <img class="reviews__photo" src="maria/src/assets/images/clients/3.png" alt="">
                                <div class="reviews__text">"Отличная студия красоты!!! Решают любые задачи и идеи.
                                    Всегда готовы выслушать, и предложить наилучший вариант! Я всегда довольна
                                    результатом, нет ни одного нарекания. Просто молодцы! Рада иметь дело с мастерами
                                    своего дела!"</div>
                                <div class="reviews__author">София В.</div>
                            </div>
                        </div>

                        <div>
                            <div class="reviews__item">
                                <img class="reviews__photo" src="maria/src/assets/images/clients/4.png" alt="">
                                <div class="reviews__text">"Работают профессиналы своего дела, которые давно занимаются
                                    косметологией. Очень подробно рассказывают о процедурах, как подготовиться, и как
                                    закрепить результат после.
                                    Также хотелось бы отметить, что в клинике можно сделать классный массаж!"</div>
                                <div class="reviews__author">Татьяна А.</div>
                            </div>
                        </div>

                        <div>
                            <div class="reviews__item">
                                <img class="reviews__photo" src="maria/src/assets/images/clients/2.png" alt="">
                                <div class="reviews__text">"Очень приятное впечатление оставило посещение салона.
                                    Высокий уровень мастерства и сервиса, приятная атмосфера, доброжелательный персонал,
                                    индивидуальный подход к каждому клиенту. Цена соответсвует качеству."</div>
                                <div class="reviews__author">Виктория К.</div>
                            </div>
                        </div>


                    </div>
                </div>
                <hr>
            </div>
        </div>
