  <!-- Works -->
  <section class="section" id="works">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Примеры наших работ</h2>
            <div class="section__text">
                <p>У мастеров студии красоты Look At Me индивидуальный подоход к кажому клиенту. Поэтому вам
                    предложат услуги, подходящие именно вам.</p>
            </div>
        </div>
    </div>

    <div class="works">
        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="/maria/src//assets/images/works/1.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Парикмахерский зал</div>
                    <div class="works__text">Стрижка + укладка на короткие волосы</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="maria/src/assets/images/works/2.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Ресницы</div>
                    <div class="works__text">Классическое наращивание</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="maria/src/assets/images/works/3.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Ногтевой сервис</div>
                    <div class="works__text">Маникюр + Shellac</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="maria/src/assets/images/works/4.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Косметология</div>
                    <div class="works__text">Уход для лица по типу кожи</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="maria/src/assets/images/works/5.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Парикмахерский зал</div>
                    <div class="works__text">Окрашивание на средние волосы</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="maria/src/assets/images/works/6.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Брови</div>
                    <div class="works__text">Коррекция бровей с окрашиванием<br> и укладкой</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="maria/src/assets/images/works/7.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Ногтевой сервис</div>
                    <div class="works__text">Маникюр + Shellac</div>
                </div>
            </div>
        </div>
    </div><!-- /.works -->
</section>
