
        <!-- Statistics -->
        <div class="statistics">
            <div class="container">

                <div class="stat">
                    <div class="stat__item">
                        <div class="stat__count">4</div>
                        <div class="stat__text">Команды мастеров своего дела</div>
                    </div>
                    <div class="stat__item">
                        <div class="stat__count">1324</div>
                        <div class="stat__text">счастливых клиента</div>
                    </div>
                    <div class="stat__item">
                        <div class="stat__count">4</div>
                        <div class="stat__text">сертификата</div>
                    </div>
                    <div class="stat__item">
                        <div class="stat__count">299</div>
                        <div class="stat__text">хороших отзывов</div>
                    </div>

                </div>

            </div>
        </div>
